scripts/review-script/*
.env*
.github/*
.yarn/*
.yarnrc.yml
.yarnrc.yaml
.yarnrc
.yarnrc.yaml
.yarnrc.yml
taj_db_prod.dump
frontend/scratch/run-tests.js
frontend/C:/Users/sid/AppData/Local/lighthouse.38481794/Default/TransportSecurity
